*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media only screen and (min-width: 800px){
header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
}
.logo{
    padding-left: 10px;
    font-size: 40px;
}
header span{
    color: red;
}
nav ul li {
    display: inline-block;
    padding: 10px;
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
  
}
button{
    margin-right: 10px;
    background-color: red;
    color: black;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    letter-spacing: 1.5px;
    text-decoration: none;
}
button:hover{
   background-color: white;

}
button a:hover{
    color: black;
}
main {
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-bottom: 1px solid red;
}
.container{
    display: inline-block;
    margin-left: 150px;
    margin-top: 300px;
    align-items: center;
    
}
.shkrimi{
    font-size: 20px;
    list-style-type: none;
    align-items: center;
    padding: 20px;
  

}
.shkrimi h1{
    margin-bottom: 20px;
    margin-left: 60px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Oswald', sans-serif;  
}
.shkrimi h1 span{
    color: red;
}
.shkrimi p{
   letter-spacing: 2px;
   font-family: 'Cormorant SC', serif;
   color: white;
   line-height: 50px;
   font-size: 30px;
}
.shkrimi a{
    font-size: 25px;   
}
section .title h1{
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: white;
    background-color: black;
}
section .category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    width: 100%;
    background-color:black;
}


section .category .cars-1{
    border: 1px solid  black;
    color: white;background-color: black;
}
section .category .cars-1:hover{
    -webkit-box-shadow: 5px 5px 0px 5px #f4f2f2; 
    box-shadow: 5px 5px 0px 5px #f4f2f2;
}
section .category .cars-2{
    border: 1px solid  black;
    color: white;background-color: black;
}
section .category .cars-2:hover{
    -webkit-box-shadow: 5px 5px 0px 5px #f4f2f2; 
    box-shadow: 5px 5px 0px 5px #f4f2f2;
}

section .category .cars-3{
    border: 1px solid  black;
    color: white;background-color: black;
}
section .category .cars-3:hover{
    -webkit-box-shadow: 5px 5px 0px 5px #f4f2f2; 
    box-shadow: 5px 5px 0px 5px #f4f2f2;
}
section .category .cars-4{
    border: 1px solid  black;
    color: white;background-color: black;
}
section .category .cars-4:hover{
    -webkit-box-shadow: 5px 5px 0px 5px #f4f2f2; 
    box-shadow: 5px 5px 0px 5px #f4f2f2;
}
section .category .cars-5{
    border: 1px solid  black;
    color: white;background-color: black;
}
section .category .cars-5:hover{
    -webkit-box-shadow: 5px 5px 0px 5px #f4f2f2; 
    box-shadow: 5px 5px 0px 5px #f4f2f2;
}


section .category .cars-6 {
    border: 1px solid  black;
    color: white;

}
section .category .cars-6:hover{
    -webkit-box-shadow: 5px 5px 0px 5px #f4f2f2; 
    box-shadow: 5px 5px 0px 5px #f4f2f2;
}
section {
   border-bottom: 1px solidrgb(239, 236, 236)d;
}
.section-2 .kategoria{
    display: flex;
    height: 400px;
    background-color: black;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
    background-image: url(bg-sc-2.webp);
    background-repeat: repeat;
     background-size: contain;
}
.section-2 .kategoria h3{
    text-align: center;
    padding: 40px;
    color: white;
}
.section-2 .kategoria p{
    text-align: center;
    padding: 40px;
    color: white;

}
.section-2 .kategoria .veturat a{
    text-align: end;
    color:  white;
}

footer .perfundim{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: red;
    height: 200px;
    color: black;
    padding-top: 40px;
}
footer .perfundim .logo span{
    color: white;
}
footer .perfundim .social-media {
    font-size: 40px;
  
}
footer .perfundim .linqet a{
    color:black;
    margin-right: 80px;
}
footer .perfundim .linqet a:hover{
    text-decoration: underline;
    color: white;
}
}




/*telefona*/

@media only screen and (max-width: 400px){
    header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        background-color: black;
        border-bottom: 1px solid red;
    }
header .logo{
    text-align: left;
    color: white;
    background-color: black;
    padding-top: 10px;

}
header .logo span{
    color: red;
}
button  {
    background-color: red;
    padding-right: 10px;
    border-radius: 40px;
    margin: 5px 5px 5px 0px;

   
}
button a{
    color: white;
    text-decoration: none;
    margin: 5px 5px 5px 0px ;
    padding-left: 10px;
    

}
button a:hover{
    text-decoration: underline;
   
}

header nav ul{
   display: none;
}

main .container .shkrimi{
    width: 100%;
    height: 80vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main .container .shkrimi{
    padding-top: 40px;
    padding-left: 40px;
    color: white;
    letter-spacing: 2px;
    line-height: 30px;
}
main .container .shkrimi span{
    color: red;

}
main .container .shkrimi a{
    color: white;
    text-decoration: none;

}
main .container .shkrimi a:hover{
    text-decoration: underline;
}
section .title h1{
    text-align: center;
    color: white;
    background-color: black;
    letter-spacing: 2px;
    height: 40px;
    padding-top: 5px;
    border-bottom: 1px solid red;

}
section .category{
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid red;
}

section .category .cars-1{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}
section .category .cars-1 .foto-1{
    padding-top: 10px;
}
section .category .cars-1 a{
    color: white;
    text-decoration: none;

}
section .category .cars-1 a:hover{
    text-decoration: underline;
}





section .category .cars-2{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}
section .category .cars-2 .foto-2{
    padding-top: 10px;
}
section .category .cars-2 a{
    color: white;
    text-decoration: none;

}
section .category .cars-2 a:hover{
    text-decoration: underline;
}


section .category .cars-3{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}
section .category .cars-3 .foto-3{
    padding-top: 10px;
}
section .category .cars-3 a{
    color: white;
    text-decoration: none;

}
section .category .cars-3 a:hover{
    text-decoration: underline;
}
section .category .cars-4{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}
section .category .cars-4 .foto-4{
    padding-top: 10px;
}
section .category .cars-4 a{
    color: white;
    text-decoration: none;

}
section .category .cars-4 a:hover{
    text-decoration: underline;

}

section .category .cars-5 {
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}
section .category .cars-5  .foto-5 {
    padding-top: 10px;
}
section .category .cars-5  a{
    color: white;
    text-decoration: none;

}
section .category .cars-5  a:hover{
    text-decoration: underline;
}
section .category .cars-6{
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
}
section .category .cars-6 .foto-6{
    padding-top: 10px;
}
section .category .cars-6 a{
    color: white;
    text-decoration: none;

}
section .category .cars-6 a:hover{
    text-decoration: underline;
}



.section-2 .kategoria .about-us{
    color: white;
    background-color: black;
    text-align: center;
    letter-spacing: 2px;
    line-height: 20px;
    
   
    padding: 20px;
}
.section-2 .kategoria {
    background-image: url(bg-sc-2.webp);
    background-position: contain;
    background-repeat: repeat;

}
.section-2 .kategoria .about-us h3{
    font-size: 30px;
}
.section-2 .kategoria .about-us a{
    color: white;
    text-decoration: none;
}
.section-2 .kategoria .about-us a :hover{
    text-decoration: underline;
}

.section-2 .kategoria .veturat{
    color: white;
    background-color: none;
    text-align: center;
    letter-spacing: 2px;
    line-height: 20px;
    padding-top: 20px;
}
.section-2 .kategoria .veturat h3{
    font-size: 30px;
}
.section-2 .kategoria .veturat a{
    color: white;
    text-decoration: none;
}
.section-2 .kategoria .veturat a:hover{
    text-decoration: underline;
}
footer .perfundim{
    display: flex;
    justify-content: center;
    color: black;
    background-color: red;
}
footer .perfundim .logo span{
    color: white;
}
footer .perfundim .linqet a{
    color: black;
    text-decoration: none;
}
footer .perfundim .linqet a:hover{
    text-decoration: underline;
}
}
/**tableta*/

@media only screen and (max-width: 799px){
    header  { display: flex;
            justify-content: space-between;
            height: 40px;
            background-color: black;
            color: white;
            border-bottom: 1px solid red;

    }
    header .logo{
        margin-top: 6px;
        margin-left: 150px;
    }
    header .logo span{
        color: red;
    }
    nav{
        display: none;
    }
    button{
        margin-right: 10px;
        margin-top: 4px;
        background-color: red;
        color: black;
        border-radius: 20px;
        width: 80px;
        height: 30px;
        letter-spacing: 1.5px;
        text-decoration: none;
    }
    button a{
        color: white;
        text-decoration: none;
    }
    button  :hover{
        text-decoration: underline;
        color: black;
    }
    main {
        background-image: url(bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        border-bottom: 1px solid red;
        height: 600px;

    }
    main .container{
        display: inline-block;
        margin-left: 10px;
        margin-top: 450px;
        align-items: center;

    }
    main .container .shkrimi{
        font-size: 20px;
         list-style-type: none;
         align-items: center;
         padding: 20px;
         color: white;
    }
    .shkrimi span{
        color: red;
    }
    .shkrimi a{
        color: white;
        text-decoration: none;
    }
    .shkrimi a:hover{
        text-decoration: underline;
    }
    section .title h1{
        background-color: black;
        color: white;
        text-align: center;
        border-bottom: 1px solid white;
    }
    section .category{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: black;
        color: white;
        gap: 40px;
       padding-right: 20px;
    }
    section .category a{
        color: white;
        text-decoration: none;

    }
    section .category a:hover{
        text-decoration: underline;
    }
    section .category .cars-1:hover{
        box-shadow: 10px 5px 5px red;
    }
    section .category .cars-2:hover{
        box-shadow: 10px 5px 5px red;;
    }
    section .category .cars-3:hover{
        box-shadow: 10px 5px 5px red;
    }
    section .category .cars-4:hover{
    box-shadow: 10px 5px 5px red;
    }
    section .category .cars-5:hover{
    box-shadow: 10px 5px 5px red;
    }
    section .category .cars-6:hover{
      box-shadow: 10px 5px 5px red;  
    }
    .about-us {
        background-color: black;
        color: white;
        padding: 50px;
        text-align: center;
        letter-spacing: 2px;
    }
    .about-us a{
        color: white;
        text-decoration: none;
    }
    .about-us a:hover{
        text-decoration: underline;
    }

    .veturat {
        background-color: black;
        color: white;
        padding: 50px;
        text-align: center;
        letter-spacing: 2px;
    }
    .veturat a{
        color: white;
        text-decoration: none;
    }
    .veturat a:hover{
        text-decoration: underline;
    }
    footer .perfundim{
        display: flex;
        justify-content: space-between;
         padding-bottom: 20px;
         background-color: black;
         color: white;
    }
    .perfundim  .logo{
       margin: 20px 0px 0px 20px;
       font-size: 30px;
    }
    .perfundim  .logo span{
        color: red;
    }
    .social-media{
        margin-top: 40px;
    }
    footer .linqet a{
        color: white;
        text-decoration: none;
    }
    footer .linqet a:hover{
        text-decoration: underline;
    }
}
